<div class="container-fluid" id="main">
    <div class="row" id="main-row">
        <div class="col-3 menu-wrap">
            <div class="row h-100" *ngIf="mainService?.current">
                <div class="col-5  h-100 overflow-auto menu-items-wrap">
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 1}" (click)="changeMenu(1)">Fitros</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 2}" (click)="changeMenu(2)">Art</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 3}" (click)="changeMenu(3)">Pinturas</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 4}" (click)="changeMenu(4)">Bordas</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 5}" (click)="changeMenu(5)">Estilizado</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 6}" (click)="changeMenu(6)">Iluminação</button>
                    <button class="btn btn-primary btn-block" [ngClass]="{'selected':currMenu == 7}" (click)="changeMenu(7)">Background</button>
                    <!-- "trending"
                    "stylized"
                    "lighting"
                    "color"
                    "fancy_filters"
                    "background"
                    "painting_and_drawing"
                    "borders" -->
                </div>
                <div class="col-7 h-100 current-menu-wrap">
                    <div class="current-menu" *ngIf="currMenu==1">
                        <ul class="menu-filters">
                            <li class="menu-filters-item" *ngFor="let item of photoFiltersList?.color;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx,true)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                                <div *ngIf="currFilter==idx" class="filter-intensity-range">
                                    <input type="range" min="0" max="1" step="0.1" value="1"
                                        (input)="onFilterRangeChange($event)" />
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="current-menu" *ngIf="currMenu==2">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.fancy_filters;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                                <!-- <div *ngIf="currFilter==idx" class="filter-intensity-range">
                                    <input type="range" min="0" max="1" step="0.1" value="1"
                                        (input)="onFilterRangeChange($event)" />
                                </div> -->
                            </li>

                        </ul>
                    </div>
                    <div class="current-menu" *ngIf="currMenu==3">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.painting_and_drawing;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="current-menu" *ngIf="currMenu==4">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.borders;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="current-menu" *ngIf="currMenu==5">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.stylized;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="current-menu" *ngIf="currMenu==6">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.lighting;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="current-menu" *ngIf="currMenu==7">
                        <ul class="menu-filters">
                            <li class="menu-filters-item"
                                *ngFor="let item of photoFiltersList?.background;let idx = index">
                                <div class="menu-filters-thumb" (click)="onFilterPhotoSelected(item,idx)">
                                    <img src="https://d3iqv7nekb4k6t.cloudfront.net/effects/547858442e50ffaaa60feb6099c8b8c5.jpg"
                                        alt="">
                                    <div class="text" [ngClass]="{'selected':currFilter ==idx}">{{item}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-9 h-100 content-wrap">
            <div class="content-top">
                <div class="choose-picute-wrap">
                    <label for="uploadFile" class="btn btn-primary mb-0">
                        <i class="fa fa-upload mr-1"></i>Upload da imagem
                        <input type="file" id="uploadFile" (change)="onPictureUpload($event)" accept=".jpg,.jpeg,.png"
                            [(ngModel)]="imgUpload" hidden />
                    </label>
                </div>
                <div class="download-wrap ml-3" *ngIf="mainService?.current" (click)="downloadCurrentImage($event)">
                    <img src="assets/images/download.svg" alt="">
                </div>
                <div class="add-wrap ml-auto" *ngIf="mainService?.current" (click)="addCurrentImage($event)">
                    <img src="assets/images/plus.svg" alt="">
                </div>
            </div>
            <div class="pictute-wrap">
                <!-- <img id="my-image" style="max-width: 100%; max-height: 100%;"> -->
                <router-outlet></router-outlet>
            </div>
            <div class="saved-pictures-wrap w-100">
                <div class="row h-100">
                    <div class="col-11 h-100 overflow-hidden">
                        <div class="saved-pictures-preview">
                            <a href="{{item}}" *ngFor="let item of mainService?.picturesList;let idx =index"
                                download="{{idx}}.png" target="_blank">
                                <img src="{{item}}" />
                            </a>
                        </div>

                    </div>
                    <div class="col-1 bt-download d-flex align-items-center justify-content-center">
                        <img src="assets/images/download-green.svg" (click)="downloadAllImage()" class="pointer"
                            *ngIf="mainService?.picturesList?.length > 0">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>