#main {
  width: 100%;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  #main-row {
    height: 100%;
    background-color: #eee;
    border-radius: 5px;
    .menu-wrap {
      background: rgba(60, 65, 73, 0.8);
      height: 100%;
      padding-top: 5px;
      .menu-items-wrap {
        & > button {
          transition: all 0.3s;
          &:hover {
            background: #0158b4 !important;
          }
          &.selected {
            text-transform: uppercase;
            font-weight: 700;
            background: #0158b4 !important;
          }
        }
      }
      .current-menu-wrap {
        scroll-behavior: smooth;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
      .current-menu {
        height: 100%;
        &.menu-logomarca {
          ::ng-deep color-chrome {
            .chrome-picker {
              width: 100% !important;
            }
          }
        }
      }
      .menu-filters {
        list-style: none;
        padding: 0px;
        .menu-filters-item {
          margin-bottom: 7.5px;
          .menu-filters-thumb {
            position: relative;
            min-height: 20px;
            cursor: pointer;
            & > img {
              width: 100%;
              height: auto;
            }
            & > .text {
              transition: background 0.5s;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              text-align: center;
              background: rgba(91, 95, 100, 0.6);
              color: white;
              &.selected {
                background-color: rgba(38, 74, 219, 0.801);
                font-weight: 700;
              }
            }
          }
          .filter-intensity-range {
            margin-top: 5px;
            & > input {
              width: 100%;
            }
          }
        }
      }
    }
    .content-wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 5px;
      padding-bottom: 5px;
      & > * {
        // width: 100% !important;
      }
      .content-top {
        display: flex;
        align-items: center;
        .download-wrap,
        .add-wrap,
        .reset-wrap {
          & > img {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }
      }
      .pictute-wrap {
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 1;
      }
      .saved-pictures-wrap {
        height: 110px;
        // border: solid rgba(0, 0, 0, 1) 1px;
        // border-radius: 5px;
        // overflow: auto;
        padding: 3px;
        // display: flex;
        // align-items: center;
        .saved-pictures-preview {
          height: 100%;
          overflow-y: hidden;
          overflow-x: auto;
          width: 100% !important;
          max-width: 100% !important;
          display: flex;
          position: relative;
          // border: solid red 2px;
          // flex-wrap: nowrap;
          & > .saved-picture-item {
            // border: solid blue 1px;
            height: 100%;
            max-width: 80px;
            min-width: 40px;
            margin: 0px 3px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            & > .removeImage {
              width: 25px;
              height: 25px;
              position: absolute;
              top: 0;
              left: 100%;
              transform: translate(-90%, 0%);
              z-index: 10;
            }
            & > .currImg {
              max-height: 100%;
              max-width: 100%;
              transition: all 0.2s;
              &:hover {
                // transform: scale(1.1);
              }
            }
          }
        }
        .bt-download {
          & > img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
